body {
  font-family: Arial, sans-serif;
  background: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-image:url(https://s.w-x.co/porqueelcieloesazul_es.jpg);
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.flight-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
  margin: 0 auto;
}

.flight {
  display: flex;
  background: white;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  justify-content: space-evenly;
}

.flight-img {
  width:400px; 
  height:auto; 
  border-radius:10px;
}

.flight-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
